/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam