/authzen/*.html   @openid/wg-authzen-editors
/authzen/*.xml   @openid/wg-authzen-editors
/authzen/*.txt   @openid/wg-authzen-editors
/authzen/*.md   @openid/wg-authzen-editors
/authzen/*.zip   @openid/wg-authzen-editors

/abconnect/*.html   @openid/wg-abconnect-editors
/abconnect/*.xml   @openid/wg-abconnect-editors
/abconnect/*.txt   @openid/wg-abconnect-editors
/abconnect/*.md   @openid/wg-abconnect-editors
/abconnect/*.zip   @openid/wg-abconnect-editors

/dcp/*.html   @openid/wg-dcp-editors
/dcp/*.xml   @openid/wg-dcp-editors
/dcp/*.txt   @openid/wg-dcp-editors
/dcp/*.md   @openid/wg-dcp-editors
/dcp/*.zip   @openid/wg-dcp-editors

/ekycida/*.html   @openid/wg-ekycida-editors
/ekycida/*.xml   @openid/wg-ekycida-editors
/ekycida/*.txt   @openid/wg-ekycida-editors
/ekycida/*.md   @openid/wg-ekycida-editors
/ekycida/*.zip   @openid/wg-ekycida-editors

/fapi/*.html   @openid/wg-fapi-editors
/fapi/*.xml   @openid/wg-fapi-editors
/fapi/*.txt   @openid/wg-fapi-editors
/fapi/*.md   @openid/wg-fapi-editors
/fapi/*.zip   @openid/wg-fapi-editors

/ipsie/*.html   @openid/wg-ipsie-editors
/ipsie/*.xml   @openid/wg-ipsie-editors
/ipsie/*.txt   @openid/wg-ipsie-editors
/ipsie/*.md   @openid/wg-ipsie-editors
/ipsie/*.zip   @openid/wg-ipsie-editors

/sharedsignals/*.html   @openid/wg-sharedsignals-editors
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors
/sharedsignals/*.md   @openid/wg-sharedsignals-editors
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors